<div style="max-width: 1200px; margin: auto">
  <div>
    <span>
      <mat-form-field class="col-lg-10">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. 133E" #input>
      </mat-form-field>
    </span>
    <span>
      <mat-form-field class="col-lg-2" appearance="fill">
        <mat-label>Route</mat-label>
        <mat-select (selectionChange)="submit($event.value)">
          <mat-divider></mat-divider>
          <mat-option>None</mat-option>
          <mat-option *ngFor="let route of routes" [value]="route">{{route}}</mat-option>
        </mat-select>
      </mat-form-field>
    </span>
  </div>
        <!--<mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. 133E" #input>
        </mat-form-field>-->
        <!--<div>
          <mat-form-field appearance="fill">
            <mat-label>Route</mat-label>
            <mat-select (selectionChange)="submit($event.value)">
              <mat-divider></mat-divider>
              <mat-option>None</mat-option>
              <mat-option *ngFor="let route_name of routes" [value]="route_name">{{route_name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>-->
        <div class="mat-elevation-z8" style="display: block; max-width: 1200px"> <!--style="margin: 1px; border: 1px solid #ddd"-->
          <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <!-- Route Definition -->
            <ng-container matColumnDef="route_name">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Route </mat-header-cell>
              <mat-cell *matCellDef="let trip"> {{trip.route_name}} </mat-cell>
            </ng-container>

            <!-- Direction Definition -->
            <ng-container matColumnDef="destination">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Direction </mat-header-cell>
              <mat-cell *matCellDef="let trip"> {{trip.destination}} </mat-cell>
            </ng-container>

            <!-- Departure Time Definition -->
            <ng-container matColumnDef="departure_time">
              <mat-header-cell *matHeaderCellDef mat-sort-header> DepartureTime </mat-header-cell>
              <mat-cell *matCellDef="let trip"> {{trip.departure_time}} </mat-cell>
            </ng-container>

            <!-- Trip ID Definition -->
            <ng-container matColumnDef="trip_id">
              <mat-header-cell *matHeaderCellDef mat-sort-header> TripID </mat-header-cell>
              <mat-cell *matCellDef="let trip"> {{trip.trip_id}} </mat-cell>
            </ng-container>

            <!-- Delay Definition -->
            <ng-container matColumnDef="delay">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Delay </mat-header-cell>
              <mat-cell *matCellDef="let trip">
                <!--{{(trip.delay / 60).toFixed(0)}}min-->
                <mat-progress-bar mode="determinate" color="{{updateColor(trip.delayPercent)}}" value="{{trip.delayPercent}}"></mat-progress-bar>
              </mat-cell>
            </ng-container>

            <!-- Analytics Definition -->
            <ng-container matColumnDef="watch">
              <mat-header-cell *matHeaderCellDef> Watch </mat-header-cell>
              <mat-cell *matCellDef="let trip">
                <button mat-button (click)="watchTrip(trip.trip_id)">
                  <mat-icon>analytics</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <!-- Modify Definition -->
            <!--<ng-container matColumnDef="modify">
              <mat-header-cell *matHeaderCellDef> Modify </mat-header-cell>
              <mat-cell *matCellDef="let trip">
                <button mat-button (click)="modifyUser(user.id)" *ngIf="user.role != 'ADMIN'">
                  <mat-icon>settings</mat-icon>
                </button>
              </mat-cell>
            </ng-container>-->

            <!-- Delete Definition -->
            <!--<ng-container matColumnDef="delete">
              <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
              <mat-cell *matCellDef="let user">
                <button mat-button (click)="deleteUser(user.id)" *ngIf="user.role != 'ADMIN'">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-cell>
            </ng-container>-->

            <!-- Header and Row Declarations -->
            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let trip; columns: displayedColumns;"></mat-row>
          </mat-table>

          <mat-paginator [pageSize]=20 [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
        </div>
</div>
