<div *ngIf="currentTrip" class="edit-form">
  <div class="col-md-6">
    <div *ngIf="currentTrip">
      <h4>Trip</h4>
      <div>
        <label><strong>Trip ID:</strong></label> {{ currentTrip.trip_id }}
      </div>
      <div>
        <label><strong>Route name:</strong></label>
        {{ currentTrip.route_name }}
      </div>
      <div>
        <label><strong>Status:</strong></label>
        {{ currentTrip.state }}
      </div>
    </div>
  </div>
</div>

<div *ngIf="!currentTrip">
  <br />
  <p>Cannot access this Trip...</p>
</div>

<div>
  <ng-container #outlet>
  </ng-container>
</div>

<div>
  <ng-template #content>
    <highcharts-chart *ngIf="data" [Highcharts]="highcharts"
                      [options]="chartOptions" style="width: 100%; height: 400px; display: block;">
    </highcharts-chart>
  </ng-template>
</div>

